docs/.ipynb_checkpoints
docs/data
docs/documents
docs/images
docs/assets
docs/feed.xml
docs/notebooks

# markdowns and site build
docs/_config.yml
docs/_toc.yml
docs/ai.md
docs/cue.md
docs/data.md
docs/intro.md
docs/misc.md
docs/projects.md
docs/requirements.txt